<template>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Date Registered</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in equipments">
            <td>{{ (index + 1) }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.date_registered | formatDate}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        data() {
            return {
                equipments: [],
                endpoint: 'api/equipments',
                exportUrl: 'api/equipments/export'
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get(this.endpoint)
                    .then(({data}) => {
                        this.equipments = data.data;
                    });
            }
        }
    }
</script>