<template>
    <div>
        <div class="alert alert-success" v-if="saved">
            <strong>Success!</strong> Your equipment has been saved successfully.
        </div>
        <div class="alert alert-danger" v-if="errors">
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </div>
        <form class="form-horizontal" method="post" @submit.prevent="onSubmit">
            <fieldset>
                <legend class="text-center">Create an Equipment</legend>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Name</label>
                    <div class="col-md-9">
                        <input id="name"
                               v-model="equipment.name"
                               type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="model">Brand/Model</label>
                    <div class="col-md-9">
                        <input id="model"
                               v-model="equipment.model"
                               type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="vehicle_lass">Vehicle Class</label>
                    <div class="col-md-9">
                        <input id="vehicle_lass"
                               v-model="equipment.vehicle_lass"
                               type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="company_id">Owning company</label>
                    <div class="col-md-9">
                        <select id="company_id" v-model="equipment.company_id" class="form-control">
                            <option value="1">Krispy Electricians</option>
                            <option value="2">Bob's Plumbing</option>
                            <option value="3">SignOnSite</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="user_id">Person Responsible</label>
                    <div class="col-md-9">
                        <select id="user_id" v-model="equipment.user_id" class="form-control">
                            <option value="1">Krishan Caldwell</option>
                            <option value="2">Matt Thomas Whittaker</option>
                            <option value="3">James Long</option>
                            <option value="4">Michael Jackson</option>
                            <option value="5">Hank Hill</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="serial_number">Serial Number</label>
                    <div class="col-md-9">
                        <input id="serial_number"
                               v-model="equipment.serial_number"
                               type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Operation</label>
                    <div class="col-md-9 checkbox">
                        <label>
                            <input id="operation" value="1"
                                   v-model="equipment.operation"
                                   type="checkbox"> Single person</label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="performance_number">Performance</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-8">
                                <input id="performance_number"
                                       v-model="equipment.performance_number"
                                       type="number" min="0"
                                       class="form-control">
                            </div>
                            <div class="col-xs-4">
                                <select v-model="equipment.performance_unit" class="form-control">
                                    <option value="kg">kg</option>
                                    <option value="tonne">tonne</option>
                                    <option value="MW">MW</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="date_registered">Registered on Site</label>
                    <div class="col-md-9">
                        <input id="date_registered"
                               v-model="equipment.date_registered"
                               type="text" placeholder="yyyy-mm-dd"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="last_serviced">Last Serviced</label>
                    <div class="col-md-9">
                        <input id="last_serviced"
                               v-model="equipment.last_serviced"
                               type="text" placeholder="yyyy-mm-dd"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                errors: false,
                saved: false,
                equipment: {
                    name: null,
                    model: null,
                    vehicle_lass: null,
                    user_id: null,
                    company_id: null,
                    serial_number: null,
                    operation: null,
                    performance_number: null,
                    performance_unit: null,
                    date_registered: null,
                    last_serviced: null
                }
            };
        },
        methods: {
            onSubmit() {
                this.saved = false;

                axios.post('api/equipments', this.equipment)
                    .then(({data}) => this.setSuccessMessage())
                    .catch(({response}) => this.setErrors(response));
            },
            setErrors(response) {
                this.errors = response.data.errors;
            },
            setSuccessMessage() {
                this.reset();
                this.saved = true;
            },
            reset() {
                this.errors = false;
                this.equipment = {
                    name: null,
                    model: null,
                    vehicle_lass: null,
                    user_id: null,
                    company_id: null,
                    serial_number: null,
                    operation: null,
                    performance_number: null,
                    performance_unit: null,
                    date_registered: null,
                    last_serviced: null
                };
            }
        }
    }
</script>