// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.header {
  margin: 20px 0;
  &:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
}